*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties*/
:root {
  --ff-primary: "Hind Siliguri", sans-serif;
  --ff-secondary: "Arimo", sans-serif;
  --fw-reg: 300;
  --fw-bold: 1000;

  --clr-dblue: #243582;
  --clr-dbrown: #553d67;
  --clr-orange: #f64c72;
  --clr-lbrown: #99738e;
  --clr-blue: #2f2fa2;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 25),
    0.125em 0.125em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

.hello h1 {
  font-family: var(--ff-secondary);
}
body {
  background-color: var(--clr-dblue);
}
